[run]
branch = True
source = .

omit =
   manage.py
   config/*
   */migrations/*
   */management/*
   */models/*
   app_telegrambot/bot_commands/*
   */tasks.py
   */__init__.py
   */admin.py
   */apps.py
   */urls.py
   */tests/*
   */tests.py

[report]
show_missing = True
